<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fitness App</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css"
    />
  </head>
<body>
  
  <header class="container">
    <nav>
      <ul>
        <li><strong>Fitness App</strong></li>
      </ul>
      <ul>

        {{#if loggedIn}}
        <li><a id="logout-link">Logout</a></li>
        <li><a href="/workoutHistory" role="button">View Workouts</a></li>
        <li><a href="/addWorkouts" role="button">Add a Workout</a></li>
        {{else}}
        <li><a href="/login" role="button">Login</a></li>
        <li><a href="/createUser" role="button">Create an Account</a></li>
        {{/if}}
      </ul>
    </nav>

  </header>
  <main class="container">
    {{{body}}}
  </main>
{{#if loggedIn}}
  <script src="/js/logout.js"></script>
{{else}}
<script src="/js/login.js" ></script>
{{/if}}
</body>
</html>