<form>
  <h2>Add a Workout</h2>
  <label for="Activity">Activity
    <input type="text" id="activity" placeholder="Activity" required />
  </label>
  <label for="duration">Duration
    <input type="text" id="duration" placeholder="Duration" required />
  </label>
  <label for="date">Date
    <input type="text" id="date" placeholder="Date" required />
  </label>
  <button type="submit">Submit</button>
</form>