<form id="new-workout-form">
  <h2>Add a Workout</h2>
  <label for="Activity">Activity
    <input type="text" name="activity" id="activity" placeholder="Activity" required />
  </label>
  <label for="duration">Duration
    <input type="text" name="duration" id="duration" placeholder="Duration" required />
  </label>
  <label for="date">Date
    <input type="text" name="date" id="date" placeholder="Date" required />
  </label>
  <button type="submit">Submit</button>
</form>
<script src="/js/add-workout.js"></script>