<form>
  <h2>Login</h2>
  <label for="email">Email
    <input type="text" id="email-login" placeholder="Email" required />
  </label>
  <label for="password">Password
    <input type="text" id="password-login" placeholder="Password" required />
  </label>
  <button class="login-form" type="submit">Submit</button>
</form>
<script src="/public/js/login.js"></script>
